<div class="container">
  <h1>Create a booking</h1>

<%= simple_form_for([@bootcamp, @booking]) do |f| %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.submit  class: 'btn btn-create btn-rounded m-3' %>
<% end %>
<%= link_to 'Return', bootcamps_path(@bootcamp), class: "btn return-btn" %>

</div>
