<div>
  <h1><%= "the booking in #{@booking.bootcamp.name.capitalize}" %></h1>
  <p><%="for #{@booking.user.name}" %></p>
</div>

<ul>
<li>check-in at <%= l @booking.start_date, format: :long %></li>
<li>check-out at <%= l @booking.end_date, format: :long %></li>
<li>Total price: <%= number_to_currency(@booking.total_price) %>
</ul>
