<div class="container">
 <div class="d-flex">
  <h1>Create a bootcamp</h1>

  <%= link_to 'Back', bootcamps_path, class: "btn return-btn" %>
</div>

<%= simple_form_for @bootcamp do |f|  %>
  <%= f.input :name  %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :pc_number %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "entre aspas", class: 'btn btn-create btn-rounded'%>
  <%# <%= raise %>
<% end %>

</div>
