<div class="container">
  <div class='row vh-100 mt-5'  style='box-shadow: 1px 1px 3px #23c483; border-radius: 20px'>
    <div class='col-6 p-5'>
      <div class="d-flex  justify-content-between">
        <h1>Create a bootcamp</h1>

        <%= link_to 'Return', bootcamps_path, class: "btn return-btn align-self-center" %>
      </div>

      <%= simple_form_for @bootcamp do |f|  %>
        <%= f.input :name  %>
        <%= f.input :address,

          input_html: { data: { geocoder_target: "address" }, class: "d-none" },
          wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }  %>

        <%= f.input :price %>
        <%= f.input :pc_number %>

        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: 'btn btn-create btn-rounded'%>

        <%# <%= raise %>
      <% end %>
    </div>

    <div class='col-6' style="background-image: url('<%= image_path("create.jpg")%>');  background-size: cover; background-position: center; border-radius: 0px 20px 20px 0px">

    </div>
  </div>
</div>
