<div>
  <h1><%= @bootcamp.name.capitalize %></h1>
  <p><%="by #{@bootcamp.user.name}" %></p>
</div>
  <%= link_to 'Edit Bootcamp', edit_bootcamp_path(@bootcamp), class: 'btn btn-primary' %>
<div>


</div>

<ul>
<li><%= @bootcamp.address %></li>
<li><%= @bootcamp.pc_number %></li>
<li><%= @bootcamp.availability ? "disponível" : "indisponível" %></li>
<li><%= @bootcamp.price %></li>

  <%= link_to 'Create a booking', new_bootcamp_booking_path(@bootcamp), class: 'btn btn-success' %>

</ul>
