<div>
  <h1><%= @bootcamp.name.capitalize %></h1>
  <p><%="by #{@bootcamp.user.name}" %></p>
</div>
  <%= link_to 'Edit Bootcamp', edit_bootcamp_path(@bootcamp), class: 'btn btn-secondary' %>
  <%= link_to 'X', bootcamp_path(@bootcamp), method: 'delete', data: { confirm: 'Remove bootcamp?' }, class: 'btn btn-danger' %>

  <% if @bootcamp.photos.attached? %>
    <% @bootcamp.photos.each do |photo| %>
      <div class="p-5" style="background-image: url(<%= cl_image_path photo.key %>)" >
        <div class="py-5">

        </div>
      </div>
    <% end %>
  <% else %>
    <div class="p-5" style="background-image: url(<%= asset_path("pcsetup.jpg") %>); background-size: cover" >
      <div class="py-5">

      </div>
    </div>
  <% end %>

<ul>
<li><%= @bootcamp.address %></li>
<li><%= @bootcamp.pc_number %></li>
<li><%= @bootcamp.availability ? "disponível" : "indisponível" %></li>
<li><%= @bootcamp.price %></li>

  <%= link_to 'Booking', new_bootcamp_booking_path(@bootcamp), class: 'btn btn-create btn-rounded' %>

</ul>

<div style="width: 50%; height: 300px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
