<div>
  <h1><%= @bootcamp.name.capitalize %></h1>
  <p><%="by #{@bootcamp.user.name}" %></p>
</div>
  <%= link_to 'Edit Bootcamp', edit_bootcamp_path(@bootcamp), class: 'btn btn-secondary' %>
  <%= link_to 'X', bootcamp_path(@bootcamp), method: 'delete', data: { confirm: 'Remove bootcamp?' }, class: 'btn btn-danger' %>

<ul>
<li><%= @bootcamp.address %></li>
<li><%= @bootcamp.pc_number %></li>
<li><%= @bootcamp.availability ? "disponível" : "indisponível" %></li>
<li><%= @bootcamp.price %></li>

  <%= link_to 'Create a booking', new_bootcamp_booking_path(@bootcamp), class: 'btn btn-success' %>

</ul>

<div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
